@font-face {
    font-family: "AvenirNextLTPro";
    src: url("../fonts/AvenirNextLTPro-Demi.ttf") format("ttf"),
        url("../fonts/AvenirNextLTPro-Demi.otf") format("otf"),
        url("../fonts/AvenirNextLTPro-Demi.woff") format("woff"),
        url("../fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("../fonts/AvenirNextLTPro-HeavyCn.ttf") format("ttf"),
        url("../fonts/AvenirNextLTPro-HeavyCn.otf") format("otf"),
        url("../fonts/AvenirNextLTPro-HeavyCn.woff") format("woff"),
        url("../fonts/AvenirNextLTPro-HeavyCn.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}
