@import './base/normalize';
@import './base/variables';
@import './base/fonts';
@import './base/base';

* {
    font-family: AvenirNextLTPro;
    box-sizing: border-box;
}

.section {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
}

.head {
    background: url("../img/promo_back.jpg") center center / cover no-repeat;
}

@import './page-blocks/header';
@import './page-blocks/promo';

@import './media';